
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of info">
      <app-first [data]="item"></app-first>
      </div>
      <!-- <div class="col-lg-4">
      <app-first  amount="{{info[1].amount}}" packname="{{info[1].packname}}" per="{{info[1].per}}"></app-first>
      </div>
      <div class="col-lg-4">
      <app-first amount="{{info[2].amount}}" packname="{{info[2].packname}}"per="{{info[2].per}}"></app-first>
      </div> -->
    </div>
    </div>
    </section>



<!-- <router-outlet></router-outlet> -->
